<!-- Homepage recipe display -->
{% extends "base.html" %}

{% block content %}

    <!-- Hero Image -->
    <img src="static/images/hero-slim.webp" class="img-fluid" alt="a plot of land growing corn">

    <!-- Why Sign Up Accordian -->
    <div class="accordion col-12">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="container">
                <div class="h4 text-center">
                    Why Sign Up?
                </div>
            </div>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse hide">
            <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
        </div>
    </div>

    <!-- Recipes Section -->
    <div class="col-12 md-4">
        <div class="row">
            {% for recipe in recipe_list %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{recipe.author}}</h6>
                        {% for tag in tags %}
                            <a href="#">#{{ tag.name }}</a>
                        {% endfor %}
                        <p class="card-text">{{ recipe.summary }}</p>
                        <span class="card-text text-muted h6">{{recipe.published_on}}</span>
                        <span><i class="far fa-heart right"></i>{{ post.number_of_likes }}</span>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="row">
            {% for recipe in recipe_list %}

            {% endfor %}
        </div>
    </div>

    <!-- Pagination Navigation --> 
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li class="page-item disabled">
        <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>
{%endblock%}