<!-- Homepage recipe display -->
{% extends "base.html" %}

{% block content %}

    <!-- Hero Image -->
    <img src="..." class="img-fluid" alt="...">

    <!-- Why Sign Up Accordian -->
    <div class="accordion col-12" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
            </button>
            </h2>
        </div>
    </div>

    <!-- Recipes Section -->
    <div class="col-12 md-4">
        <div class="row">
            {% for recipe in recipe_list %}

            {% endfor %}
        </div>
        <div class="row">
            {% for recipe in recipe_list %}

            {% endfor %}
        </div>
    </div>
{%endblock%}