<!-- Single Recipe display -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
            <img src="{{ recipe.image.url }}" class="col-md-6 img-fluid rounded" id="detail-img" alt="#">
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h3"> {{ recipe.title }} </div>
                <p> {{recipe.author}}</p> 
                <p> {{recipe.published}} </p>
                <div class="h3"> {{ recipe.summary }} </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h5">Ingredients</div>
                <p> {{ ingredients.ingredient}}</p>
            </div>
        </div>
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h5"> Instructions </div>
                <p> {{ recipe.instructions.html | safe }} </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}